@model TapHoa.Data.Loaisp
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaLoai";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<h1>Edit Category</h1>

<h4>Loaisp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaLoai">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Maloaisp" />
            <div class="form-group">
                <label asp-for="Tenloaisp" class="control-label"></label>
                <input asp-for="Tenloaisp" class="form-control" />
                <span asp-validation-for="Tenloaisp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhMucLoaiSanPham">Go back</a>
</div>

