
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<form asp-action="Login" asp-controller="Taikhoans" class="login100-form validate-form">

    <!-- Username input -->
    <div class="form-outline mb-4">
        <input type="text" id="form3Example1" name="Tendangnhap" class="form-control form-control-lg"
               placeholder="Enter your username" />
        <label class="form-label" for="form3Example1">Username</label>
    </div>
    <!-- Password input -->
    <div class="form-outline mb-3">
        <input type="password" id="form3Example2" name="Matkhau" class="form-control form-control-lg"
               placeholder="Enter password" />
        <label class="form-label" for="form3Example2">Password</label>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <!-- Checkbox -->
        <div class="form-check mb-0">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
            <label class="form-check-label" for="form2Example3">
                Remember me
            </label>
        </div>
        <a href="#!" class="text-body">Forgot password?</a>
    </div>
    <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
            Login
        </button>
        <p class="small fw-bold mt-2 pt-1 mb-0">
            Don't have an account?
            <a href="/Taikhoans/Register" class="link-danger">Register</a>
        </p>
    </div>
</form>