@model IEnumerable<TapHoa.Data.Loaisp>
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All Categories</span>
                    </div>
                    <ul>
                        @foreach(var item in Model)
                        {
                            <li><a href="#">@item.Tenloaisp</a></li>
                        }
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
