@model IEnumerable<TapHoa.Data.Nhacungcap>

@{
    ViewData["Title"] = "DanhMucNhacc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<h3>Supplier category</h3>

<p>
    <a asp-action="ThemNcc">Create</a>
</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Supplier name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string cls = "table-success";
        }
@foreach (var item in Model) {
            cls = "table-success";
            i++;
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
        <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.Tenncc)
            </td>
            <td>
                <a asp-action="SuaNhacc" asp-route-Mancc="@item.Mancc">Edit</a> |
                <a asp-action="XoaNhacc" asp-route-Mancc="@item.Mancc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
